#page 
{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 760px;
	background-color: black;
}
#headermenu
{
	background:linear-gradient(rgb(37,37,37),rgb(18,18,18));
	height: 57px;
	width: 1000x;
}
#buttons
{
	margin-left: 50px;
}
#picture
{
	background-color: blue;
	height: 292px;
	width: 100%;
}

.fade-in {
	animation: fadeIn ease 15s;
	-webkit-animation: fadeIn ease 15s;
	-moz-animation: fadeIn ease 15s;
	-o-animation: fadeIn ease 15s;
	-ms-animation: fadeIn ease 15s;
	}
	@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}

#content
{
	background-color: black;
	width: 100%;
	height: 340px;
}
#footer
{
	width: 100%;
	height: 80px;
	background-color: rgb(13,13,13);
}
.headermenubutton
{
	padding-right: 104px;
	padding-left: 38px;
	float:left;
	width: auto;
	height: 55px;
	border:none;
	margin: 0 auto;
	background:linear-gradient(rgb(37,37,37),rgb(18,18,18));
	color: white;
	align-content: center;
	font-family: "Tahoma";
	font-size: 12px;
	color: #9faebd
}
#footertext
{
	font-family: "Tahoma";
	color: rgb(95,95,95);
	text-align: center;
	padding-top: 30px;
	font-size: 11px;
	float: left;
	padding-left: 152px;
}
#Fotofooter
{
	float: left;
	padding-top: 40px;
	padding-left: 49px;
}
button.headermenubutton:hover
{
	background:linear-gradient(rgb(15,75,117),rgb(13,39,57));
}
#textcontent
{
	font-family: Tahoma;
	font-size: 15px;
	color: rgb(27,95,135);
}
#textcontentwhite
{
	color: #d2d1c6;
	font-family: Tahoma;
	font-size: 13px;
}
.icon
{
	padding: 0px 8px 0px 0px;
}
.pos
{
	padding-top: 3px;
	padding-left: 5px;
}
#contentelement1
{
	width: 300px;
	margin-left: 51px;
	margin-top: 35px;
	float: left;
}
#contentelement2
{
	width: 300px;
	margin-left: 51px;
	margin-top: 35px;
	float: left;
}
#contentelement3
{
	width: 131px;
	margin-left: 51px;
	margin-top: 35px;
	float: left;
}
#verticaldashed
{
	float: right;
	margin-right: -33px;
	margin-top: -205px;
	padding-right: 10px
}
#verticaldashed2
{
	float: right;
	margin-right: -33px;
	margin-top: -227px;
	padding-right: 10px
}
.shigjetaspacing
{
	margin-left:  50px;
}
#Contact
{
	margin-bottom: 0px;
	margin-left: 40px;
	font-family: Arial;
	font-size: 13px;
	color: rgb(27,95,135);
}
.inputradius
{
	font-family: :Tahoma;
	margin: 5px;
	border-radius: 5px;
	width: 170px;
	height: 19px;
}
#inputradius2
{
	margin: 4px;
	border-radius: 5px;
	height: 80px;
	width: 170px;
}
#buttonGO
{
	margin: 5px;
	float: right;
	padding-right: 10px; 
}
#option
{
	margin: 5px;
	height: 19px;
	width: 175px;
	border-radius: 5px;
}
button
{
	outline: none;
}
input
{
	outline: none;
}
